/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-weight: 600;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}
.ui-mobile .ui-page{
	max-width: 480px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.ui-content{
	padding: 0;
}
.ui-btn{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0 20%;
}
/*utilities*/
.center-text{
	text-align: center;
}
img{
	display: block;
}
/*end utilities*/
/*general styling*/
.logo img{
	margin: 70px auto;
	/*width: 200px;*/
	max-width: 162px;
	height: auto;
	
}
.input-center .ui-select .ui-btn{
	width: 64.5%;
	background: #ebebeb;
}
.input-center .ui-input-text,
.input-center .ui-btn{
	width: 80%;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-weight: 300;
	color: #fff;
}
/*end general styling*/

#login .ui-content{
	height: 100%;
	min-height: 100%;
}


#login #txt-email{
	/*width: 80%;*/
}
.top-content{
	position: relative;
}
.top-content img{
	width: 100%;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}
.top-content p{
	/*position: absolute;*/
	z-index: 1;
	/*background: rgba(0,0,0,0.5);*/
	/*bottom: 0;*/
	/*margin: 0 auto;*/
	/*width: 90%;*/
	/*color: white;*/
	/*display: block;*/
	/*padding: 2.5% 5%;*/
	/*font-size: 30px;*/
	text-shadow: none;
}

.ui-mobile .ui-page {
    background: url(images/bg.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}
.ui-input-text input, .ui-input-search input{
	background: #ebebeb;
	color: #464646;
}
::-webkit-input-placeholder {
   color:  #464646;
}

:-moz-placeholder { /* Firefox 18- */
   color:  #464646;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #464646;  
}

:-ms-input-placeholder {  
   color:  #464646;  
}
#btn-login{
	font-weight: 600;
	color: #fff;
	background: #f7941d;
	border: none;
}
a{
	text-decoration: none;
	text-shadow: none;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited{
	color: #fff;
}
.register-links a{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
.register-links a:hover{
	color: #fff;
}
.auth-titles p{
	font-size: 14px;
	color: #fff;
}
.auth-titles h1{
	margin-bottom: 0;
}
#btn-reset{
	background: #f41518;
	font-weight: 600;
	border: none;
	color: #fff;
	font-size: 15px;
}
#recovery .overlay{
	background: rgba(0, 0, 0, 0.75);
}
#recovery .ui-field-contain{
 	border-bottom: none;
}
#btn-register{
	background: #cfb046;
	color: #000;
	font-weight: 600;
	border: none;
	text-shadow: none;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, 
html .ui-bar-a .ui-bar-inherit, 
html .ui-body-a .ui-bar-inherit, 
html body .ui-group-theme-a .ui-bar-inherit{
	background: #464646;
	color: #fff;
}
#header .ui-btn{
	background: #555555;
	border: none;
	text-shadow: none;
	color: #f99219;
}
#header .ui-btn:after{
	background-color: #555555;
}
#intro a#btn-listing {
	max-width: 84%;
	border-radius: 3px;
	margin: 0 10px;
	background: #fdd341;
	border: none;
	text-shadow: none;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}
#intro .bottom-content{
	min-height: 100px;
	background: transparent url("images/intro-pattern.png") repeat 0 0;

}
#intro .bottom-content p{
	font-weight: 400;
}
.socialmedia{
	list-style: none;
	    margin: 10px auto;
    padding: 0;
}
.socialmedia li{
	display: inline;
}
.socialmedia li a{
	display: inline-block;
	width: 80px;
	height: 80px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url(images/social-media.png) no-repeat 0 0;
    background-size: 316px 75px;
}
.socialmedia li a#twitter{
	background: transparent url(images/social-media.png) no-repeat -80px 0;
	background-size: 316px 75px;
}
.ui-panel-position-right.ui-panel-display-reveal{
	background: #555;
	color: #fff;
	text-shadow: none;
}
.nav li .ui-btn{
	background: transparent;
	color: white;
	text-shadow: none;
	border-bottom: 0.5px;
}

.ui-page .ui-panel-wrapper{
	background: rgba(247,148,29, 0.8);
}
#intro.ui-page .ui-panel-wrapper{
	background: #fff;
}

.ui-footer{
	border: 0 none;
}
.ui-tabs{
	padding: 0;
}
.middle-content .ui-listview{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.middle-content .ui-listview li a.ui-btn{
	background: none;
	/*border: 0.5px solid black;*/
	border-color: rgba(0,0,0,0.2);

	text-shadow: none;
}
.ui-tabs-nav .ui-link{
	background: rgba(17,16,17, 0.7);
	border-bottom: 0;
	border-color: rgba(185,115,30, 0.2);
	text-shadow: none;
	color: #fed346;
	font-weight: 300;
	display: inline-block;
}
.ui-tabs-nav .ui-link:hover, 
.ui-tabs-nav .ui-link:visited,
.ui-tabs-nav .ui-link:focus{
	color: #fed346;
	background: rgba(17,16,17, 0.5);
	border-color: rgba(185,115,30, 0.2);
	text-shadow: none;
}
.ui-tabs-nav{
	padding: 0 30px !important;
	position: relative;
}
.ui-tabs-nav .back{
	width: 5px;
}
.ui-tabs-nav li{
	/*max-width: 100px !important;*/
}
.ui-navbar{
	position: relative;
}
.pager{
	position: absolute;
	top: 0;
	width: 100%;
	/*z-index: -1;*/
	display: block;
}
.pager span:last-child,
.pager span:first-child{
	/*width: 4px;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 0;*/
	display: inline-block;
}
#tabs2 .pager a,
#tabs .pager a{
	font-size: 12px;
	padding: 10px 47px;
	margin: 0;
	background: rgba(17,16,17, 0.7);
	border: none;
	text-shadow: none;
	color: #fed346;
	position: absolute;
	right: auto;
	left: 0;
	top: 0;
}
#tabs2.page a.back2,
#tabs .pager a.back2{
	right: 0;
	left: auto;
	position: absolute;
	top: 0;
	display: block;

}
#tabs2 .pager a{

}
#tabs2.page a.back2{

}

label.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		width: 100%;
		float: none;
		text-shadow: none;
		width: 80%;
		margin: 0.5em auto 0 auto;
	}
.payment-errors,	
#register-form .errors,
#recovery-form .errors,
#errors{
	display: none;
	color: red;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-top: 0.5em;
	width: 100%;
	float: none;
	text-shadow: none;
	width: 77%;
	padding: 2%;
	margin: 0.5em auto 0 auto;
	background: #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#credit-details .middle-content p,	
#individual .bottom-content p,
#individual .middle-content p{
	width: 80%;
	margin: 10px auto;
	text-shadow: none;
	font-weight: 600;
}
#credit-details .middle-content p{
	color: #fff;
}
#intro .bottom-content p.weblink{
	color: #000 !important;
	margin-top: 10px !important;
	padding: 10px;
	margin-bottom: 0;
}
#intro .bottom-content p.weblink a{
	color: #000 !important;
}
.ui-mobile .ui-page{
	/*max-width: 320px;*/
}
.ui-page-theme-a .ui-bar-inherit{
	height: 60px;
}
#header .ui-btn{
	height: 45px;
	width: 45px;
	-webkit-border-radius: 25%;
	border-radius: 50%;
}
.ui-panel .nav li{
	height: 60px;
}
.ui-panel .nav li a{
	    height: 20px;
    padding: 20px 16px;
}
.top-content{
	    height: 100px;
    overflow: hidden;
}
.top-content p{
	/*top: ;*/
}
#intro.ui-page .ui-panel-wrapper .middle-content p{
	padding:  0 10px;
	line-height: 1.5;
	text-align: justify;
}
#intro p.page-title{
	font-size: 30px;
	text-align: center !important;
}
.otherplaces{
	margin: 0;
}
#listing .ui-navbar ul{
	padding: 0 100px 0 0!important;
}
#listing #tabs2 .ui-navbar ul{
	padding: 0 0 0 100px!important;
}
#tabs2{
	display: none;
}
