/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-weight: 600;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}
.ui-mobile .ui-page{
	max-width: 480px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.ui-content{
	padding: 0;
}
.ui-btn{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
/*utilities*/
.center-text{
	text-align: center;
}
img{
	display: block;
}
/*end utilities*/
/*general styling*/
.logo img{
	margin: 0 auto;
	width: 200px;
}
.input-center .ui-select .ui-btn{
	width: 64.5%;
	background: #ebebeb;
}
.input-center .ui-input-text,
.input-center .ui-btn{
	width: 80%;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-weight: 300;
	color: #fff;
}
/*end general styling*/

#login .ui-content{
	height: 100%;
	min-height: 100%;
}


#login #txt-email{
	/*width: 80%;*/
}
.top-content{
	position: relative;
}
.top-content img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.top-content p{
	position: absolute;
	z-index: 1;
	background: rgba(0,0,0,0.5);
	top: 50%;
	margin: 0 auto;
	width: 90%;
	color: white;
	display: block;
	padding: 2.5% 5%;
	font-size: 30px;
}

.ui-mobile .ui-page {
    background: url(images/bg.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}
.ui-input-text input, .ui-input-search input{
	background: #ebebeb;
	color: #464646;
}
::-webkit-input-placeholder {
   color:  #464646;
}

:-moz-placeholder { /* Firefox 18- */
   color:  #464646;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #464646;  
}

:-ms-input-placeholder {  
   color:  #464646;  
}
#btn-login{
	font-weight: 600;
	color: #fff;
	background: #f7941d;
	border: none;
}
a{
	text-decoration: none;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited{
	color: #fff;
}
.register-links a{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
.register-links a:hover{
	color: #fff;
}
.auth-titles p{
	font-size: 14px;
	color: #fff;
}
.auth-titles h1{
	margin-bottom: 0;
}
#btn-reset{
	background: #f41518;
	font-weight: 600;
	border: none;
	color: #fff;
	font-size: 15px;
}
#recovery .overlay{
	background: rgba(0, 0, 0, 0.75);
}
#recovery .ui-field-contain{
 	border-bottom: none;
}
#btn-register{
	background: #cfb046;
	color: #000;
	font-weight: 600;
	border: none;
	text-shadow: none;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, 
html .ui-bar-a .ui-bar-inherit, 
html .ui-body-a .ui-bar-inherit, 
html body .ui-group-theme-a .ui-bar-inherit{
	background: #464646;
	color: #fff;
}
#header .ui-btn{
	background: #555555;
	border: none;
	text-shadow: none;
	color: #f99219;
}
#header .ui-btn:after{
	background-color: #555555;
}
#intro a#btn-listing {
	max-width: 300px;
	border-radius: 3px;
	margin: 0 auto;
	background: #fdd341;
	border: none;
	text-shadow: none;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}
#intro .bottom-content{
	min-height: 100px;
	background: transparent url("images/intro-pattern.png") repeat 0 0;

}
#intro .bottom-content p{
	font-weight: 400;
}
.socialmedia{
	list-style: none;
}
.socialmedia li{
	display: inline;
}
.socialmedia li a{
	display: inline-block;
	width: 80px;
	height: 80px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url(images/social-media.png) no-repeat 0 0;
    background-size: 316px 75px;
}
.socialmedia li a#twitter{
	background: transparent url(images/social-media.png) no-repeat -80px 0;
	background-size: 316px 75px;
}
.ui-panel-position-right.ui-panel-display-reveal{
	background: #555;
	color: #fff;
	text-shadow: none;
}
.nav li .ui-btn{
	background: transparent;
	color: white;
	text-shadow: none;
	border-bottom: 0.5px;
}